---
source_file: "packages/shared-validation/src/index.ts"
type: "code"
community: "Community 22"
location: "L6"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/Community_22
---

# ValidationResult

## Connections
- [[index.ts_14]] - `contains` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/Community_22